# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace
*.hmap
*.ipa
DerivedData/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# 壁纸图片 - 已包含在仓库中，方便同事直接使用

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
.swiftpm/

# 打包文件
*.zip
